#body {
	background-color: #f4f3f1;
	font-family: Raleway;
}

#button-enter {
	margin-top: 2em;
	margin-bottom: 2em;
	color: #1f3a32;
	border-style: solid;
	border-width: .05em;
	border-color: #1f3a32;
	border-radius: 2.5em;
	background-color: #f4f3f1;
	max-width: 20em;
	max-height: auto;
	min-height: 2.5em;
}

#coffee-image {
	max-width: 20%;
	margin-bottom: 3em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#daily-cost {
	font-size: 2em;
}

#description {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 100%;
	max-width: 500px;
	max-height: auto;
}

#dropdown-options {
	margin-top: 2em;
	margin-bottom: 2em;
	color: #1f3a32;
	border-style: solid;
	border-width: .05em;
	border-color: #1f3a32;
	border-radius: 2.5em;
	background-color: #f4f3f1;
	max-width: 20em;
	min-height: 2.5em;
	max-height: auto;
}

#header {
	background-color: white !important;
	padding-top: .75em;
	padding-bottom: 1em;
}

#input-qty {
	background-color: #f4f3f1;
	height: 2.5em;
	max-width: 3em;
	color: #1f3a32;
	border-style: solid;
	border-width: .05em;
	border-color: #1f3a32;
	border-radius: 2.5em;
	font-size: 1.25em;
	text-align: center;
}

#label {
	font-size: 1.25em;
	width: auto;
}

#savings {
	font-size: large;
	word-wrap: normal;
}

#title {
	max-width: 85%;
	width: auto;
	margin-left: 2em;
	padding-right: 2em;
	margin-right: 0em;
	display: block;
}

#twitter-button {
	margin-top: 4em;
	text-align: center;
}

#twitter-share-button {
	width: 100px;
}

.image-source {
	font-size: .5em !important;
	text-align: center;
}

.main-content {
	background-color: #d4e9e2;
	padding-bottom: 1em;
	padding-top: 1em;
}

.navbar {
	box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .5);
	height: 6em;
	padding: 3em;
}

.output {
	text-align: center;
	color: #f4f3f1;
	padding: 3em;
	border-radius: 1em;
	background-color: #1f3a32;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 40em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration: none;
	color: #1f3a32;
  }
  
a:visited {
	text-decoration: none;
	color: #1f3a32;
}
  
a:hover {
	text-decoration: none;
	color: #1f3a32;
}
  
a:active {
	text-decoration: none;
	color: #1f3a32;
}

p {
	font-size: 1.25em;
}

footer p {
	text-align: center;
}

